openai
groq
google-generativeai
mistralai

langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-core
langchain-mistralai
langchain-huggingface

langgraph

transformers
torch 
torchvision
torchaudio


python-dotenv
fastapi
uvicorn
pydantic
requests
httpx